<div class="mb-4 flex flex-row items-center gap-2">
  <a routerLink="/admin" mat-icon-button class="lg:hidden! block">
    <fa-duotone-icon [icon]="faArrowLeft"></fa-duotone-icon>
  </a>
  <h1 class="title-large">General settings</h1>
  <div class="grow"></div>
</div>
<div class="grid grid-cols-1 gap-4">
  <div class="bg-surface text-on-surface rounded-2xl p-4">
    <form
      class="grid grid-cols-1"
      [formGroup]="settingsForm"
      (ngSubmit)="saveSettings()"
    >
      <mat-form-field>
        <mat-label>Site theme</mat-label>
        <mat-select formControlName="theme">
          <mat-option value="evorto">Default theme</mat-option>
          <mat-option value="esn">ESN theme</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="settingsForm.invalid">
        Save
      </button>
    </form>
  </div>
</div>
