<div class="grid grid-cols-2 gap-2" [formGroup]="durationForm">
  <mat-form-field>
    <mat-label>Days</mat-label>
    <input 
      matInput 
      type="number" 
      formControlName="days" 
      min="0"
      (blur)="onBlur()"
    />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Hours</mat-label>
    <input 
      matInput 
      type="number" 
      formControlName="hours" 
      min="0" 
      max="23"
      (blur)="onBlur()"
    />
  </mat-form-field>
  
  @if (hint()) {
    <div class="text-xs text-gray-600 col-span-2 mt-1">
      {{ hint() }}
    </div>
  }
</div>
