@if (!hidden()) {
  <div class="grid grid-cols-2 gap-2">
    <mat-form-field>
      <mat-label>Days</mat-label>
      <input
        matInput
        type="number"
        [value]="days()"
        min="0"
        [disabled]="disabled()"
        [readonly]="readonly()"
        (input)="updateDays($event)"
        (blur)="markTouched()"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hours</mat-label>
      <input
        matInput
        type="number"
        [value]="hours()"
        min="0"
        max="23"
        [disabled]="disabled()"
        [readonly]="readonly()"
        (input)="updateHours($event)"
        (blur)="markTouched()"
      />
    </mat-form-field>

    @if (hint()) {
      <div class="text-xs text-gray-600 col-span-2 mt-1">
        {{ hint() }}
      </div>
    }
  </div>
}
