<div class="grid grid-cols-1 lg:grid-cols-[300px_1fr] lg:gap-4 lg:p-4">
  <div>
    <div
      class="mb-4 {{
        outletActive() ? 'hidden' : 'flex'
      }} lg:flex w-full flex-row items-center gap-2"
    >
      <h1 class="title-large">Finances</h1>
      <div class="grow"></div>
    </div>
    <nav
      class="{{ outletActive() ? 'hidden' : 'flex' }} lg:flex flex-col gap-4"
    >
      <a
        routerLink="transactions"
        class="rounded-2xl bg-surface p-4 text-on-surface"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faListTimeline" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">Transactions</h2>
        </div>
      </a>
      <a
        routerLink="roles"
        class="rounded-2xl bg-surface p-4 text-on-surface"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <!--        <div class="flex flex-row items-center gap-4">-->
        <!--          <fa-duotone-icon [icon]="faFolderUser" size="xl"></fa-duotone-icon>-->
        <!--          <h2 class="title-medium">User roles</h2>-->
        <!--        </div>-->
      </a>
      <a
        routerLink="settings"
        class="rounded-2xl bg-surface p-4 text-on-surface"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <!--        <div class="flex flex-row items-center gap-4">-->
        <!--          <fa-duotone-icon [icon]="faGlobe" size="xl"></fa-duotone-icon>-->
        <!--          <h2 class="title-medium">General settings</h2>-->
        <!--        </div>-->
      </a>
    </nav>
  </div>
  <div>
    <router-outlet
      (activate)="outletActive.set(true)"
      (deactivate)="outletActive.set(false)"
    ></router-outlet>
  </div>
</div>
