<div class="grid grid-cols-1 lg:h-full lg:grid-cols-[400px_1fr] lg:gap-4">
  <div class="lg:h-full lg:overflow-y-auto lg:py-4 lg:pr-4">
    <div
      class="mb-4 {{
        outletActive() ? 'hidden' : 'flex'
      }} lg:flex w-full flex-row items-center gap-2"
    >
      <h1 class="title-large">Events</h1>
      <div class="grow"></div>
      <button mat-icon-button>
        <fa-duotone-icon [icon]="faFilter"></fa-duotone-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <fa-duotone-icon [icon]="faEllipsisVertical"></fa-duotone-icon>
      </button>
      <mat-menu #menu="matMenu"> </mat-menu>
    </div>
    <nav
      class="{{ outletActive() ? 'hidden' : 'flex' }} lg:flex flex-col gap-4"
    >
      @if (eventQuery.isPending()) {
        <p>Loading...</p>
      } @else if (eventQuery.isError()) {
        <p>Error: {{ eventQuery.error().message }}</p>
      } @else if (eventQuery.isSuccess()) {
        @for (event of eventQuery.data(); track event.id) {
          <a
            routerLink="{{ event.id }}"
            class="rounded-2xl bg-surface px-4 py-2 text-on-surface"
            routerLinkActive="bg-secondary-container! text-on-secondary-container!"
          >
            <div class="flex flex-row items-start gap-4">
              <app-icon [iconCommonName]="event.icon" size="32"></app-icon>
              <h2 class="headline-small">{{ event.title }}</h2>
            </div>
          </a>
        } @empty {
          <p>No events found</p>
        }
      }
    </nav>
  </div>
  <div class="lg:p-4">
    <router-outlet
      (activate)="outletActive.set(true)"
      (deactivate)="outletActive.set(false)"
    ></router-outlet>
  </div>
</div>
