<div class="mb-4 flex flex-row items-center gap-2 pl-2">
  <h1 class="title-large">Events</h1>
  <div class="grow"></div>
  <button mat-icon-button>
    <fa-duotone-icon [icon]="faFilter"></fa-duotone-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faEllipsisVertical"></fa-icon>
  </button>
  <mat-menu #menu="matMenu"> </mat-menu>
</div>

<main class="flex flex-col gap-4 p-2">
  @if (eventQuery.isPending()) {
    <p>Loading...</p>
  } @else if (eventQuery.isError()) {
    <p>Error: {{ eventQuery.error().message }}</p>
  } @else if (eventQuery.isSuccess()) {
    @for (event of eventQuery.data(); track event.id) {
      <a
        routerLink="../{{ event.id }}"
        class="rounded-2xl bg-surface px-4 py-2 text-on-surface"
      >
        <h2 class="headline-small">{{ event.title }}</h2>
      </a>
    } @empty {
      <p>No events found</p>
    }
  }
</main>
