<div
  class="grid grid-cols-1 lg:relative lg:h-full lg:grid-cols-[400px_1fr] lg:gap-4"
>
  <div class="lg:h-full lg:overflow-y-auto lg:rounded-t-lg lg:p-4">
    <div
      class="mb-4 {{
        outletActive() ? 'hidden' : 'flex'
      }} lg:flex w-full flex-row items-center gap-2 p-2 lg:p-0"
    >
      <h1 class="title-large">Events</h1>
      <div class="grow"></div>
      <a
        mat-button
        routerLink="/templates"
        *appIfAnyPermission="['events:create']"
        class="hidden! lg:flex!"
      >
        Create Event
      </a>
      <button
        mat-icon-button
        (click)="openFilterPanel()"
        *appIfAnyPermission="['events:seeDrafts', 'events:seeUnlisted']"
      >
        <fa-duotone-icon [icon]="faFilter" />
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <fa-duotone-icon [icon]="faEllipsisVertical" />
      </button>
      <mat-menu #menu="matMenu">
        <a
          routerLink="/templates"
          mat-menu-item
          *appIfAnyPermission="['events:create']"
        >
          Create Event
        </a>
      </mat-menu>
    </div>
    <nav
      class="{{
        outletActive() ? 'hidden' : 'flex'
      }} lg:flex flex-col gap-2 px-2 lg:px-0"
    >
      @if (eventQuery.isPending()) {
        <div
          class="bg-surface text-on-surface animate-pulse rounded-2xl px-4 py-2"
        >
          <p class="headline-small">Loading…</p>
        </div>
      } @else if (eventQuery.isError()) {
        <p>Error: {{ eventErrorMessage() }}</p>
      } @else if (eventQuery.isSuccess()) {
        @for (day of eventQuery.data(); track day.day) {
          <p
            class="title-medium sticky top-0 lg:-top-4 z-10 bg-surface-container px-4 py-2"
          >
            {{ day.day | date }}
          </p>
          @for (event of day.events; track event.id) {
            <a
              routerLink="{{ event.id }}"
              class="rounded-2xl bg-surface px-4 py-2 text-on-surface relative overflow-hidden {{
                event.userRegistered
                  ? 'ring-3 ring-inset ring-success'
                  : event.userIsCreator
                    ? 'ring-3 ring-inset ring-tertiary'
                    : ''
              }}"
              routerLinkActive="bg-secondary-container! text-on-secondary-container!"
            >
              @switch (event.status) {
                @case ("DRAFT") {
                  <div class="absolute right-0 top-0 h-16 w-16">
                    <div
                      class="body-small bg-warn text-on-warn absolute -right-9 top-3 w-28 rotate-45 transform py-1 text-center"
                    >
                      draft
                    </div>
                  </div>
                }
                @case ("PENDING_REVIEW") {
                  <div class="absolute right-0 top-0 h-16 w-16">
                    <div
                      class="body-small bg-tertiary-container text-on-tertiary-container absolute -right-9 top-3 w-28 rotate-45 transform py-1 text-center"
                    >
                      pending review
                    </div>
                  </div>
                }
                @case ("REJECTED") {
                  <div class="absolute right-0 top-0 h-16 w-16">
                    <div
                      class="body-small bg-error-container text-on-error-container absolute -right-9 top-3 w-28 rotate-45 transform py-1 text-center"
                    >
                      rejected
                    </div>
                  </div>
                }
              }
              <div class="flex flex-row items-start gap-4">
                <app-icon [iconCommonName]="event.icon" size="32" />
                <div class="flex flex-col gap-2">
                  <h2 class="headline-small">{{ event.title }}</h2>
                  <div class="flex flex-row flex-wrap items-center gap-4">
                    <div class="flex flex-row items-center gap-2">
                      <fa-duotone-icon [icon]="faClock" />
                      <p>{{ event.start | date: "shortTime" }}</p>
                    </div>
                    @if (event.unlisted) {
                      <div class="flex flex-row items-center gap-2">
                        <fa-duotone-icon [icon]="faEyeSlash" />
                        <p>unlisted</p>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </a>
          }
        } @empty {
          <p>No events found</p>
        }
      }
    </nav>
  </div>
  <div class="lg:h-full lg:pr-4">
    <router-outlet (activate)="outletActive.set(true)"
      (deactivate)="outletActive.set(false)"
     />
  </div>
</div>
