{
  //  "plugins": ["prettier-plugin-tailwindcss"],
  //  "tailwindStylesheet": "./src/styles.scss",
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
