services:
  evorto:
    container_name: app
    build:
      context: .
      secrets:
        - FONT_AWESOME_TOKEN
    develop:
      watch:
        - action: rebuild
          path: ./src
        - action: rebuild
          path: package.json
    env_file:
      - .env.local
      - .env
    environment:
      #      This secret is for the local stripe cli, it is not a production secret
      STRIPE_WEBHOOK_SECRET: whsec_5cc4e8e60977a2f87895f2fe5484040de96728381f08f33617633205a0cafae3
    ports:
      - '4200:4200'

  stripe:
    image: stripe/stripe-cli:v1.25.0
    restart: always
    env_file:
      - .env.local
      - .env
    environment:
      STRIPE_DEVICE_NAME: integration-tests
    command: 'listen --forward-to http://evorto:4200/webhooks/stripe'

secrets:
  FONT_AWESOME_TOKEN:
    environment: FONT_AWESOME_TOKEN
