services:
  db:
    image: neondatabase/neon_local:latest
    env_file:
      - .env.local
      - .env
    ports:
      - "${NEON_LOCAL_HOST_PORT:-55432}:5432"

  evorto:
    build:
      context: .
      args:
        FONT_AWESOME_TOKEN: "${FONT_AWESOME_TOKEN:-}"
      secrets:
        - FONT_AWESOME_TOKEN
    depends_on:
      - db
    develop:
      watch:
        - action: rebuild
          path: ./src
        - action: rebuild
          path: package.json
    env_file:
      - .env.local
      - .env
    environment:
      BASE_URL: http://localhost:${APP_HOST_PORT:-4200}
      DATABASE_URL: postgresql://neon:npg@db:5432/${NEON_DATABASE_NAME:-appdb}?sslmode=require
      NEON_LOCAL_PROXY: "true"
      PORT: "4200"
      #      This secret is for the local stripe cli, it is not a production secret
      STRIPE_WEBHOOK_SECRET: whsec_5cc4e8e60977a2f87895f2fe5484040de96728381f08f33617633205a0cafae3
    ports:
      - "${APP_HOST_PORT:-4200}:4200"

  stripe:
    image: stripe/stripe-cli:v1.25.0
    restart: always
    env_file:
      - .env.local
      - .env
    environment:
      STRIPE_DEVICE_NAME: integration-tests
    command: "listen --forward-to http://evorto:4200/webhooks/stripe"

secrets:
  FONT_AWESOME_TOKEN:
    environment: FONT_AWESOME_TOKEN
