<div class="mb-4 flex flex-row items-center gap-2">
  <h1 class="title-large">All transactions</h1>
  <div class="grow"></div>
  <button
    title="menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="md:hidden! block"
  >
    <fa-duotone-icon [icon]="faEllipsisVertical" />
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="edit">Create transaction</a>
  </mat-menu>
  <button mat-button routerLink="edit" class="hidden! md:block!">
    Create transaction
  </button>
</div>
@if (transactionsQuery.status() === "pending") {
  <div
    class="bg-surface text-on-surface flex animate-pulse cursor-progress flex-col gap-2 rounded-2xl p-4"
  >
    <h2 class="title-medium">Loading transactions ...</h2>
  </div>
} @else if (transactionsQuery.isSuccess()) {
  <div class="overflow-x-auto overflow-y-hidden rounded-2xl">
    <table mat-table [dataSource]="transactionsQuery.data().data">
      <!--      <ng-container matColumnDef="select">-->
      <!--        <th mat-header-cell *matHeaderCellDef>-->
      <!--          <mat-checkbox-->
      <!--            (change)="$event ? toggleAllRows() : null"-->
      <!--            [checked]="selection.hasValue() && isAllSelected()"-->
      <!--            [indeterminate]="selection.hasValue() && !isAllSelected()"-->
      <!--          >-->
      <!--          </mat-checkbox>-->
      <!--        </th>-->
      <!--        <td mat-cell *matCellDef="let row">-->
      <!--          <mat-checkbox-->
      <!--            (click)="$event.stopPropagation()"-->
      <!--            (change)="$event ? selection.toggle(row) : null"-->
      <!--            [checked]="selection.isSelected(row)"-->
      <!--          >-->
      <!--          </mat-checkbox>-->
      <!--        </td>-->
      <!--      </ng-container>-->

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          <p class="body-medium">{{ element.amount / 100 | currency }}</p>
          @if ((element.appFee ?? 0) + (element.stripeFee ?? 0) > 0) {
            <p
              class="body-small"
              title="{{
                (element.appFee ?? 0) / 100 | currency
              }} Application fee  {{
                (element.stripeFee ?? 0) / 100 | currency
              }} Stripe fee"
            >
              {{
                ((element.appFee ?? 0) + (element.stripeFee ?? 0)) / 100
                  | currency
              }}
              fees
            </p>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef>Method</th>
        <td mat-cell *matCellDef="let element">
          @switch (element.method) {
            @case ("stripe") {
              <fa-icon [icon]="faStripe" size="2x" />
            }
            @case ("paypal") {
              <fa-icon [icon]="faCcPaypal" size="2x" />
            }
            @case ("transfer") {
              <fa-duotone-icon [icon]="faMoneyBillTransfer" size="2x" />
            }
            @default {
              {{ element.method }}
            }
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
      </ng-container>

      <!--      <ng-container matColumnDef="role">-->
      <!--        <th mat-header-cell *matHeaderCellDef>Roles</th>-->
      <!--        <td mat-cell *matCellDef="let element">-->
      <!--          <mat-chip-set role="list">-->
      <!--            @for (role of element.roles; track role) {-->
      <!--              <mat-chip role="listitem">{{ role }}</mat-chip>-->
      <!--            }-->
      <!--          </mat-chip-set>-->
      <!--        </td>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="actions">-->
      <!--        <th mat-header-cell *matHeaderCellDef>Actions</th>-->
      <!--        <td mat-cell *matCellDef="let element">-->
      <!--          <button mat-icon-button>-->
      <!--            <fa-duotone-icon [icon]="faEdit"></fa-duotone-icon>-->
      <!--          </button>-->
      <!--        </td>-->
      <!--      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay()"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay()"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"
      showFirstLastButtons
      aria-label="Select page of users"
      (page)="handlePageChange($event)"
      [length]="transactionsQuery.data().total"
      [pageSize]="100"
     />
  </div>
}
