<div class="mb-4 flex flex-row items-center gap-2">
  <h1 class="title-large">Scanner</h1>
  <div class="grow"></div>
</div>
<div class="bg-surface text-on-surface rounded-lg p-4">
  <p class="mb-4">
    Please allow access to your camera in case your browser asks for it.
    <br />
    If you encounter any problems, use your phones camera to scan the QR code.
  </p>
  <video #videoElement class="h-full w-full rounded"></video>
  @if (errorMessage()) {
    <div class="bg-error text-on-error mt-2 rounded p-2">
      <p class="title-small">Scanning error</p>
      <p>
        {{ errorMessage() }}
      </p>
    </div>
  }
</div>
