<h2 mat-dialog-title>Select an Icon</h2>
<mat-dialog-content>
  <div class="flex flex-col gap-4">
    <mat-form-field class="!mt-2 w-full">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Search icons"
        [formField]="searchForm.query"
      />
    </mat-form-field>
    <div class="grid grid-cols-4 gap-1 lg:grid-cols-6 lg:gap-2">
      @for (icon of iconSearchQuery.data(); track icon.id) {
        <div
          class="hover:bg-surface-container-high flex cursor-pointer flex-col items-center gap-2 rounded p-2"
          [mat-dialog-close]="{
            iconColor: icon.sourceColor,
            iconName: icon.commonName,
          }"
        >
          <app-icon size="30" [iconCommonName]="icon.commonName"></app-icon>
          <span class="bg-surface break-all rounded px-2 text-sm">
            {{ icon.friendlyName }}
          </span>
        </div>
      }
    </div>
    @if (displayDirectAccess()) {
      <button
        type="button"
        class="hover:bg-surface-container-high m-4 flex cursor-pointer flex-col items-center gap-2 self-center rounded p-2"
        (click)="saveIconDirectly()"
        data-testid="direct-access-icon"
      >
        <app-icon size="40" [iconCommonName]="searchValue()"></app-icon>
        <span class="bg-surface rounded px-2 py-1">{{ searchValue() }}</span>
      </button>
      <!-- <app-notification>
        <h3 class="text-sm font-medium">Direct Icon Access</h3>
        <div class="mt-2 text-sm">
          <p>
            If you know the name of the icon you want to use, you can directly
            access it by typing the name in the search field above. <br />
            If you then see the icon you want, select it. It will be added to
            the library.
          </p>
        </div>
      </app-notification> -->
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
