<div class="mb-4 flex w-full flex-row items-center gap-2">
  <a routerLink="/events/{{eventId()}}" mat-icon-button>
    <fa-duotone-icon [icon]="faArrowLeft"></fa-duotone-icon>
  </a>
  <h1 class="title-large">{{ eventQuery.data()?.title ?? "Loading ..." }}</h1>
  <div class="grow"></div>
  <button
    title="menu"
    *appIfAnyPermission="['events:changeVisibility']"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <fa-duotone-icon [icon]="faEllipsisVertical"></fa-duotone-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!--    <button mat-menu-item (click)="updateVisibility()">-->
    <!--      Update visibility-->
    <!--    </button>-->
  </mat-menu>
</div>
<main>
  <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-6">
      <section class="bg-surface text-on-surface rounded-2xl p-4">
        <h2 class="title-large mb-4">Event Details</h2>
        <app-event-general-form [generalForm]="editEventForm" />
      </section>

      <section
        class="bg-surface-container-high text-on-surface-container-high rounded-2xl p-2"
      >
        <h2 class="title-large mb-4 p-2">Registration Options</h2>
        <div
          class="grid grid-cols-1 gap-6 lg:grid-cols-2"
          [formArrayName]="'registrationOptions'"
        >
          @for ( option of registrationOptions.controls; track option; let i =
          $index ) {
          <app-registration-option-form
            class="bg-surface text-on-surface flex flex-col gap-4 rounded-xl p-4"
            [registrationOptionForm]="option"
            [registrationModes]="registrationModes"
          />
          }
        </div>
      </section>

      <div class="flex justify-end">
        <button
          type="submit"
          mat-button
          [disabled]="
              editEventForm.invalid || updateEventMutation.isPending()
            "
        >
          @if (updateEventMutation.isPending()) {
            Saving...
          } @else {
            Save Changes
          }
        </button>
      </div>
    </div>
  </form>
</main>
