@if (!hidden()) {
  <div
    class="mb-5 flex items-center justify-between gap-4 rounded border px-4 py-2"
    [class.border-error]="showError()"
    [class.border-outline]="!showError()"
  >
    @if (value(); as iconValue) {
      <app-icon size="40" [iconCommonName]="iconValue" />
    } @else {
      <span class="text-on-surface-variant">No icon selected</span>
    }

    <button
      type="button"
      mat-button
      (click)="openSelectionDialog()"
      [disabled]="disabled() || readonly()"
    >
      Change Icon
    </button>
  </div>
}
