@let form = generalForm();
<div class="grid grid-cols-1 gap-2 lg:grid-cols-[auto_1fr_1fr]">
  <app-icon-selector-field [formField]="form.icon"></app-icon-selector-field>
  <mat-form-field>
    <mat-label>Template title</mat-label>
    <input matInput [formField]="form.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Template Category</mat-label>
    <mat-select [formField]="form.categoryId">
      @for (
        templateCategory of templateCategoriesQuery.data();
        track templateCategory.id
      ) {
        <mat-option [value]="templateCategory.id">
          {{ templateCategory.title }}
        </mat-option>
      } @empty {
        <mat-option disabled>No template categories found</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<app-location-selector-field [formField]="form.location" />

<app-editor [control]="form.description"></app-editor>
