<div class="grid grid-cols-1 lg:grid-cols-[300px_1fr] lg:gap-4 lg:p-4">
  <div>
    <div
      class="mb-4 {{
        outletActive() ? 'hidden' : 'flex'
      }} lg:flex w-full flex-row items-center gap-2"
    >
      <h1 class="title-large">Admin settings</h1>
      <div class="grow"></div>
    </div>
    <nav class="{{ outletActive() ? 'hidden' : 'flex' }} lg:flex flex-col gap-4">
      <a
        routerLink="users"
        class="bg-surface text-on-surface rounded-2xl p-4"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faUsers" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">Users</h2>
        </div>
      </a>
      <a
        routerLink="roles"
        class="bg-surface text-on-surface rounded-2xl p-4"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faFolderUser" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">User roles</h2>
        </div>
      </a>
      <a
        routerLink="settings"
        class="bg-surface text-on-surface rounded-2xl p-4"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faGlobe" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">General settings</h2>
        </div>
      </a>
      <a
        routerLink="tax-rates"
        class="bg-surface text-on-surface rounded-2xl p-4"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faReceipt" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">Tax Rates</h2>
        </div>
      </a>
      <a
        routerLink="event-reviews"
        class="bg-surface text-on-surface rounded-2xl p-4"
        routerLinkActive="bg-secondary-container! text-on-secondary-container!"
      >
        <div class="flex flex-row items-center gap-4">
          <fa-duotone-icon [icon]="faCalendarCheck" size="xl"></fa-duotone-icon>
          <h2 class="title-medium">Event Reviews</h2>
          @if (pendingReviewsCount() > 0) {
            <span class="bg-warning text-on-warning ml-auto rounded-full px-2 py-1 text-xs">
              {{ pendingReviewsCount() }}
            </span>
          }
        </div>
      </a>
    </nav>
  </div>
  <div>
    <router-outlet
      (activate)="outletActive.set(true)"
      (deactivate)="outletActive.set(false)"
    ></router-outlet>
  </div>
</div>
