<p>category-list works!</p>
<button mat-button (click)="openCategoryCreationDialog()">
  Create a new category
</button>
@if (templateCategoriesQuery.isPending()) {
  <p>Loading...</p>
} @else if (templateCategoriesQuery.isError()) {
  <p>Error: {{ templateCategoriesQuery.error().message }}</p>
} @else if (templateCategoriesQuery.isSuccess()) {
  @for (
    templateCategory of templateCategoriesQuery.data();
    track templateCategory.id
  ) {
    <div>
      {{ templateCategory.id }}: {{ templateCategory.title }}
      <button mat-button (click)="openCategoryEditDialog(templateCategory)">
        Edit
      </button>
    </div>
  } @empty {
    <p>No categories found</p>
    <button mat-flat-button (click)="openCategoryCreationDialog()">
      Create a new category
    </button>
  }
}
