<div class="mb-4 flex flex-row items-center gap-2">
  <a routerLink="/templates" mat-icon-button>
    <fa-duotone-icon [icon]="faArrowLeft"></fa-duotone-icon>
  </a>
  <h1 class="title-large">Template Categories</h1>
</div>
<button
  mat-fab
  extended
  (click)="openCategoryCreationDialog()"
  class="fab-fixed"
>
  <mat-icon svgIcon="faPlus"></mat-icon>
  Create category
</button>
<main class="flex flex-col gap-4 p-2">
  @if (templateCategoriesQuery.isPending()) {
    <p>Loading...</p>
  } @else if (templateCategoriesQuery.isError()) {
    <p>Error: {{ templateCategoriesQuery.error().message }}</p>
  } @else if (templateCategoriesQuery.isSuccess()) {
    @for (
      templateCategory of templateCategoriesQuery.data();
      track templateCategory.id
    ) {
      <div>
        <h2 class="title-medium">{{ templateCategory.title }}</h2>
        <button mat-button (click)="openCategoryEditDialog(templateCategory)">
          Edit
        </button>
      </div>
    } @empty {
      <p>No categories found</p>
      <button mat-flat-button (click)="openCategoryCreationDialog()">
        Create a new category
      </button>
    }
  }
</main>
