<h1 class="title-large mb-6">Members Hub</h1>

<div class="bg-surface text-on-surface @container rounded-md p-2">
  <h2 class="title-medium mb-4">Who's who</h2>
  @if (rolesQuery.isError()) {
    <div class="text-error p-4">
      Error loading roles: {{ errorMessage(rolesQuery.error()) }}
    </div>
  } @else if (rolesQuery.isSuccess()) {
    <div class="@lg:grid-cols-3 @md:grid-cols-2 grid gap-4">
      @for (role of rolesQuery.data(); track role.id) {
        <div class="">
          <div
            class="bg-primary-container text-on-primary-container label-large flex items-baseline justify-between rounded-full px-3 py-1"
          >
            <span> {{ role.name }}</span>
            @if (role.userCount > 1) {
              <span class="label-medium">{{ role.userCount }} members</span>
            }
          </div>
          <div class="px-3">
            @if (role.description) {
              <p class="text-on-surface-variant text-sm">
                {{ role.description }}
              </p>
            }
            @if (role.users.length > 0) {
              <div class="flex flex-wrap gap-2">
                @for (user of role.users; track $index; let last = $last) {
                  @if (user) {
                    <span>
                      {{ user.firstName }} {{ user.lastName
                      }}{{ last ? "" : ", " }}
                    </span>
                  }
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="flex justify-center p-8">
      <div class="text-on-surface-variant">Loading roles...</div>
    </div>
  }
</div>
