<div class="mb-4 flex flex-row items-center">
  <h1 class="title-large">Event templates</h1>
  <div class="grow"></div>
  <a mat-button routerLink="../categories" class="hidden! lg:flex!">
    Manage categories
  </a>
  <button
    class="lg:hidden!"
    title="menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <fa-duotone-icon [icon]="faEllipsisVertical"></fa-duotone-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="../categories" mat-menu-item>Manage categories</a>
    <!-- <a routerLink="../create" mat-menu-item>Create template</a> -->
  </mat-menu>
</div>

<a routerLink="../create" class="fab-fixed" mat-fab extended>
  <mat-icon svgIcon="faPlus"></mat-icon>
  Create template
</a>

<main class="flex flex-col gap-4">
  @if (templateQuery.isPending()) {
    <div
      class="flex animate-pulse cursor-progress flex-col gap-2 rounded-2xl bg-surface p-4 text-on-surface"
    >
      <h2 class="title-medium">Loading ...</h2>
    </div>
  } @else if (templateQuery.isError()) {
    <p>Error: {{ templateQuery.error().message }}</p>
  } @else if (templateQuery.isSuccess()) {
    @for (templateCategory of templateQuery.data(); track templateCategory.id) {
      <div
        class="flex flex-col gap-2 rounded-2xl bg-surface p-4 text-on-surface"
      >
        <div class="mb-6 flex flex-row items-start gap-4">
          <app-icon [iconCommonName]="templateCategory.icon"></app-icon>
          <h2 class="title-medium">{{ templateCategory.title }}</h2>
        </div>
        @for (template of templateCategory.templates; track template.id) {
          <a
            class="title-small flex flex-row items-start gap-2"
            routerLink="../{{ template.id }}"
          >
            <app-icon [iconCommonName]="template.icon" size="20"></app-icon>
            <span>{{ template.title }}</span>
          </a>
        } @empty {
          <p>No templates found in this category</p>
          <a mat-button routerLink="../create/{{ templateCategory.id }}">
            Add template to this category
          </a>
        }
      </div>
    } @empty {
      <p>No template categories found</p>
    }
  }
</main>
