<p>template-list works!</p>
<a routerLink="../categories">See template categories</a>
@if (templateQuery.isPending()) {
  <p>Loading...</p>
} @else if (templateQuery.isError()) {
  <p>Error: {{ templateQuery.error().message }}</p>
} @else if (templateQuery.isSuccess()) {
  @for (templateCategory of templateQuery.data(); track templateCategory.id) {
    <p>{{ templateCategory.id }}: {{ templateCategory.title }}</p>
    @for (template of templateCategory.templates; track template.id) {
      <p>{{ template.id }}: {{ template.title }}</p>
    } @empty {
      <p>No templates found in this category</p>
    }
  } @empty {
    <p>No templates found</p>
  }
}
