@use "@angular/material" as mat;
@use "./theme-colors" as theme-colors;
@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: var(--font-sans),
      density: 0,
    )
  );
  @media (prefers-contrast: more) {
    @include theme-colors.high-contrast-overrides(color-scheme);
  }
  --fa-fw-width: var(--mdc-icon-button-icon-size);
  --fa-display: block;
}

@theme {
  --color-error-container: var(--mat-sys-error-container);
  --color-error: var(--mat-sys-error);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-on-error: var(--mat-sys-on-error);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-on-surface-bright: var(--mat-sys-on-surface-bright);
  --color-on-surface-container-high: var(--mat-sys-on-surface-container-high);
  --color-on-surface-container-highest: var(
    --mat-sys-on-surface-container-highest
  );
  --color-on-surface-container-low: var(--mat-sys-on-surface-container-low);
  --color-on-surface-container-lowest: var(
    --mat-sys-on-surface-container-lowest
  );
  --color-on-surface-container: var(--mat-sys-on-surface-container);
  --color-on-surface-dim: var(--mat-sys-on-surface-dim);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-outline: var(--mat-sys-outline);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-primary: var(--mat-sys-primary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface: var(--mat-sys-surface);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-tertiary: var(--mat-sys-tertiary);
}

html,
body,
app-root {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title-small {
  font: var(--mat-sys-title-small);
}

.title-medium {
  font: var(--mat-sys-title-medium);
}

.title-large {
  font: var(--mat-sys-title-large);
}

.headline-medium {
  font: var(--mat-sys-headline-medium);
}

.headline-small {
  font: var(--mat-sys-headline-small);
}

.body-medium {
  font: var(--mat-sys-body-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// View transition names
.main-content {
  view-transition-name: main-content;
}
.mat-mdc-fab.fab-fixed {
  // view-transition-name: fab-fixed;
  mat-icon {
    view-transition-name: fab-fixed-icon;
  }
  .mdc-button__label {
    // view-transition-name: none;
  }
}
.navigation {
  view-transition-name: navigation;
}
.navigation-active {
  view-transition-name: navigation-active;
}

// Positon fa-icons correctly in buttons
.mat-mdc-button {
  fa-duotone-icon,
  fa-icon {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
    margin-right: var(--mat-text-button-icon-spacing, 8px);
    margin-left: var(--mat-text-button-icon-offset, -4px);
  }
}

// Positioning of fixed fabs
.mat-mdc-fab.fab-fixed {
  @apply fixed right-4 bottom-26 z-10;
}

// Tailwind overrride for angular material
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}
