@use "@angular/material" as mat;
@use "./theme-colors" as theme-colors;
@use "./esn_theme-colors" as esn-theme-colors;
//@use "inter-ui/default" with (
//  $inter-font-display: swap,
//  $inter-font-path: "/assets/inter-ui/web"
//);

@use "inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: "/inter-ui/variable"
);
@import "tailwindcss";

@plugin "@tailwindcss/typography";
//@import url(https://fonts.bunny.net/css?family=lato:400,700|oswald:400,700);

//@include default.all;
@include variable.all;

:root {
  @include mat.chips-overrides(
    (
      container-shape-radius: var(--mat-sys-corner-medium),
    )
  );
  @include mat.form-field-overrides(
    (
      outlined-container-shape: var(--mat-sys-corner-small),
    )
  );
  // Notification styles
  .success-snackbar {
    @include mat.snack-bar-overrides(
      (
        container-color: var(--color-success-container),
        supporting-text-color: var(--color-on-success-container),
        button-color: var(--color-on-success-container),
      )
    );
  }

  .error-snackbar {
    @include mat.snack-bar-overrides(
      (
        container-color: var(--color-error-container),
        supporting-text-color: var(--color-on-error-container),
        button-color: var(--color-on-error-container),
      )
    );
  }

  .info-snackbar {
    @include mat.snack-bar-overrides(
      (
        container-color: var(--color-tertiary-container),
        supporting-text-color: var(--color-on-tertiary-container),
        button-color: var(--color-on-tertiary-container),
      )
    );
  }

  --fa-fw-width: var(--mat-icon-button-icon-size);
  --fa-display: block;
}

.theme-evorto {
  color-scheme: light dark;
  --app-success: light-dark(#156b55, #88d6ba);
  --app-on-success: light-dark(#ffffff, #00382a);
  --app-success-container: light-dark(#a4f2d6, #00513f);
  --app-on-success-container: light-dark(#00513f, #a4f2d6);
  --app-warn: light-dark(#785a0b, #e9c16c);
  --app-on-warn: light-dark(#ffffff, #402d00);
  --app-warn-container: light-dark(#ffdf9f, #5b4300);
  --app-on-warn-container: light-dark(#5b4300, #ffdf9f);
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: var(--font-body),
        brand-family: var(--font-display),
      ),
      density: 0,
    )
  );
  @media (prefers-contrast: more) {
    @include theme-colors.high-contrast-overrides(color-scheme);
  }
}

.theme-esn {
  color-scheme: light dark;
  //--font-body: "Lato", sans-serif;
  //--font-display: "Oswald", sans-serif;
  --app-success: light-dark(#48672f, #add28e);
  --app-on-success: light-dark(#ffffff, #1b3704);
  --app-success-container: light-dark(#c8eea8, #314f19);
  --app-on-success-container: light-dark(#314f19, #c8eea8);
  --app-warn: light-dark(#8c4f27, #ffb68b);
  --app-on-warn: light-dark(#ffffff, #522300);
  --app-warn-container: light-dark(#ffdbc8, #6f3811);
  --app-on-warn-container: light-dark(#6f3811, #ffdbc8);
  @include mat.theme(
    (
      color: (
        primary: esn-theme-colors.$primary-palette,
        tertiary: esn-theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: var(--font-body),
        brand-family: var(--font-display),
        regular-weight: 400,
        medium-weight: 400,
        bold-weight: 700,
      ),
      density: 0,
    ),
    $overrides: (
      corner-full: 4px,
      corner-extra-large: 4px,
      corner-large: 4px,
      corner-medium: 4px,
      corner-small: 2px
    )
  );

  @include mat.chips-overrides(
    (
      container-shape-radius: var(--mat-sys-corner-medium),
    )
  );

  @media (prefers-contrast: more) {
    @include esn-theme-colors.high-contrast-overrides(color-scheme);
  }
}

@theme {
  --font-sans: InterVariable, sans-serif;

  --font-body: var(--font-sans);
  --font-display: var(--font-sans);

  --color-error-container: var(--mat-sys-error-container);
  --color-error: var(--mat-sys-error);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-on-error: var(--mat-sys-on-error);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-on-surface-bright: var(--mat-sys-on-surface);
  --color-on-surface-container-high: var(--mat-sys-on-surface);
  --color-on-surface-container-highest: var(--mat-sys-on-surface);
  --color-on-surface-container-low: var(--mat-sys-on-surface);
  --color-on-surface-container-lowest: var(--mat-sys-on-surface);
  --color-on-surface-container: var(--mat-sys-on-surface);
  --color-on-surface-dim: var(--mat-sys-on-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-outline: var(--mat-sys-outline);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-primary: var(--mat-sys-primary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface: var(--mat-sys-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-secondary: var(--mat-sys-secondary);
  //--color-success: var(--app-success);
  //--color-on-success: var(--app-on-success);
  //--color-success-container: var(--app-success-container);
  //--color-on-success-container: var(--app-on-success-container);
  --color-warn: var(--app-warn);
  --color-on-warn: var(--app-on-warn);
  //--color-warn-container: var(--app-warn-container);
  //--color-on-warn-container: var(--app-on-warn-container);
  --radius-none: var(--mat-sys-corner-none);
  --radius-sm: var(--mat-sys-corner-extra-small);
  --radius: var(--mat-sys-corner-small);
  --radius-md: var(--mat-sys-corner-medium);
  --radius-lg: var(--mat-sys-corner-medium);
  --radius-xl: var(--mat-sys-corner-medium);
  --radius-2xl: var(--mat-sys-corner-large);
  --radius-3xl: var(--mat-sys-corner-extra-large);
  --radius-full: var(--mat-sys-corner-full);
}

.display-small {
  font: var(--mat-sys-display-small);
}

.display-medium {
  font: var(--mat-sys-display-medium);
}

.display-large {
  font: var(--mat-sys-display-large);
}

.title-small {
  font: var(--mat-sys-title-small);
}

.title-medium {
  font: var(--mat-sys-title-medium);
}

.title-large {
  font: var(--mat-sys-title-large);
}

.headline-medium {
  font: var(--mat-sys-headline-medium);
}

.headline-small {
  font: var(--mat-sys-headline-small);
}

.body-large {
  font: var(--mat-sys-body-large);
}

.body-medium {
  font: var(--mat-sys-body-medium);
}

.body-small {
  font: var(--mat-sys-body-small);
}

.label-large {
  font: var(--mat-sys-label-large);
}

.label-medium {
  font: var(--mat-sys-label-medium);
}

.label-small {
  font: var(--mat-sys-label-small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// View transition names
.main-content {
  view-transition-name: main-content;
}

.mat-mdc-fab.fab-fixed {
  // view-transition-name: fab-fixed;
  mat-icon {
    view-transition-name: fab-fixed-icon;
  }

  .mdc-button__label {
    // view-transition-name: none;
  }
}

.navigation {
  view-transition-name: navigation;
}

.navigation-active {
  view-transition-name: navigation-active;
}

// Positon fa-icons correctly in buttons
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  fa-duotone-icon,
  fa-icon {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
    margin-right: var(--mat-button-text-icon-spacing, 8px);
    margin-left: var(--mat-text-button-icon-offset, -4px);
  }
}

// Positioning of fixed fabs
.mat-mdc-fab.fab-fixed {
  @apply bottom-26 fixed right-4 z-10 lg:bottom-8 lg:right-8;
}

// Tailwind overrride for angular material
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}
