@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: InterVariable, sans-serif;

  --font-body: var(--font-sans);
  --font-display: var(--font-sans);

  --color-error-container: var(--mat-sys-error-container);
  --color-error: var(--mat-sys-error);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-on-error: var(--mat-sys-on-error);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-on-surface-bright: var(--mat-sys-on-surface);
  --color-on-surface-container-high: var(--mat-sys-on-surface);
  --color-on-surface-container-highest: var(--mat-sys-on-surface);
  --color-on-surface-container-low: var(--mat-sys-on-surface);
  --color-on-surface-container-lowest: var(--mat-sys-on-surface);
  --color-on-surface-container: var(--mat-sys-on-surface);
  --color-on-surface-dim: var(--mat-sys-on-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-outline: var(--mat-sys-outline);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-primary: var(--mat-sys-primary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface: var(--mat-sys-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-secondary: var(--mat-sys-secondary);
  --color-warn: var(--app-warn);
  --color-on-warn: var(--app-on-warn);
  --radius-none: var(--mat-sys-corner-none);
  --radius-sm: var(--mat-sys-corner-extra-small);
  --radius: var(--mat-sys-corner-small);
  --radius-md: var(--mat-sys-corner-medium);
  --radius-lg: var(--mat-sys-corner-medium);
  --radius-xl: var(--mat-sys-corner-medium);
  --radius-2xl: var(--mat-sys-corner-large);
  --radius-3xl: var(--mat-sys-corner-extra-large);
  --radius-full: var(--mat-sys-corner-full);
}
