@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: InterVariable, sans-serif;

  --font-body: var(--font-sans);
  --font-display: var(--font-sans);

  --color-error-container: var(--mat-sys-error-container);
  --color-error: var(--mat-sys-error);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-on-error: var(--mat-sys-on-error);
  --color-background: var(--mat-sys-background);
  --color-on-background: var(--mat-sys-on-background);
  --color-inverse-primary: var(--mat-sys-inverse-primary);
  --color-inverse-surface: var(--mat-sys-inverse-surface);
  --color-inverse-on-surface: var(--mat-sys-inverse-on-surface);
  --color-neutral-10: var(--mat-sys-neutral10);
  --color-neutral-variant-20: var(--mat-sys-neutral-variant20);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-on-primary-fixed: var(--mat-sys-on-primary-fixed);
  --color-on-primary-fixed-variant: var(--mat-sys-on-primary-fixed-variant);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-primary-fixed: var(--mat-sys-primary-fixed);
  --color-primary-fixed-dim: var(--mat-sys-primary-fixed-dim);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-on-secondary-fixed: var(--mat-sys-on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--mat-sys-on-secondary-fixed-variant);
  --color-secondary-fixed: var(--mat-sys-secondary-fixed);
  --color-secondary-fixed-dim: var(--mat-sys-secondary-fixed-dim);
  --color-on-surface-bright: var(--mat-sys-on-surface);
  --color-on-surface-container-high: var(--mat-sys-on-surface);
  --color-on-surface-container-highest: var(--mat-sys-on-surface);
  --color-on-surface-container-low: var(--mat-sys-on-surface);
  --color-on-surface-container-lowest: var(--mat-sys-on-surface);
  --color-on-surface-container: var(--mat-sys-on-surface);
  --color-on-surface-dim: var(--mat-sys-on-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-on-tertiary-fixed: var(--mat-sys-on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--mat-sys-on-tertiary-fixed-variant);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-outline: var(--mat-sys-outline);
  --color-outline-variant: var(--mat-sys-outline-variant);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-primary: var(--mat-sys-primary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-scrim: var(--mat-sys-scrim);
  --color-shadow: var(--mat-sys-shadow);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface: var(--mat-sys-surface);
  --color-surface-tint: var(--mat-sys-surface-tint);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-tertiary-fixed: var(--mat-sys-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--mat-sys-tertiary-fixed-dim);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-secondary: var(--mat-sys-secondary);
  --color-warn: var(--app-warn);
  --color-on-warn: var(--app-on-warn);
  --radius-none: var(--mat-sys-corner-none);
  --radius-sm: var(--mat-sys-corner-extra-small);
  --radius: var(--mat-sys-corner-small);
  --radius-md: var(--mat-sys-corner-medium);
  --radius-lg: var(--mat-sys-corner-medium);
  --radius-xl: var(--mat-sys-corner-medium);
  --radius-2xl: var(--mat-sys-corner-large);
  --radius-3xl: var(--mat-sys-corner-extra-large);
  --radius-full: var(--mat-sys-corner-full);

  --shadow-0: var(--mat-sys-level0);
  --shadow-1: var(--mat-sys-level1);
  --shadow-2: var(--mat-sys-level2);
  --shadow-3: var(--mat-sys-level3);
  --shadow-4: var(--mat-sys-level4);
  --shadow-5: var(--mat-sys-level5);
}
