@if (!hidden()) {
  <mat-form-field class="w-full">
    <mat-label>Selected Roles</mat-label>
    <mat-chip-grid #chipGrid aria-label="Role selection">
      @for (
        roleQuery of currentRolesQuery();
        track selectedRoleTrackId(roleQuery, $index)
      ) {
        <mat-chip-row (removed)="remove(selectedRoleId(roleQuery))">
          @if (roleQuery.isSuccess()) {
            {{ roleQuery.data().name }}
          } @else if (roleQuery.isPending()) {
            Loading role ...
          } @else {
            Failed to load role
          }
          <button
            matChipRemove
            [attr.aria-label]="'remove ' + selectedRoleLabel(roleQuery, $index)"
          >
            <fa-icon [icon]="faCircleXmark" />
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentRoles"
      placeholder="Add Role..."
      #roleInput
      [formField]="searchForm.query"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event); roleInput.value = ''"
    >
      @for (role of availableRoles(); track role.id) {
        <mat-option [value]="role.id">{{ role.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
}
