@if (!hidden()) {
  <mat-form-field class="w-full">
    <mat-label>Selected Roles</mat-label>
    <mat-chip-grid #chipGrid aria-label="Role selection">
      @for (role of currentRolesQuery(); track role.data()?.id) {
        @if (role.data(); as roleData) {
          <mat-chip-row (removed)="remove(roleData.id)">
            {{ roleData.name }}
            <button
              type="button"
              matChipRemove
              [attr.aria-label]="'Remove ' + roleData.name"
            >
              <fa-icon [icon]="faCircleXmark" />
            </button>
          </mat-chip-row>
        }
      }
    </mat-chip-grid>
    <input
      name="currentRoles"
      placeholder="Add Role..."
      #roleInput
      [formField]="searchForm.query"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event); roleInput.value = ''"
    >
      @for (role of availableRoles(); track role.id) {
        <mat-option [value]="role.id">{{ role.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
}
